<!DOCTYPE html>
<head>
  {% block header %}
   <title> Gym menager</title>
  {% endblock %}
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/public/css/styles.css'>
  
</head>
<body>
  <nav>
     <div class="links">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/instructors">Instructors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}

  {% endblock content%}
</body>
</html>