@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 300; 400; 500 & display = swap');

:root{
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#772953;
  --pink:#e83e8c;
  --red:#df382c;
  --orange:#e95420;
  --yellow:#efb73e;
  --green:#38b44a;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#868e96;
  --gray-dark:#333;
  --primary:#e95420;
  --secondary:#aea79f;
  --success:#38b44a;
  --info:#17a2b8;
  --warning:#efb73e;
  --danger:#df382c;
  --light:#e9ecef;
  --dark:#772953;
}

*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  background-color: var(--gray-dark);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

nav {
  background-color: var(--primary);
  padding: 10px;
}

.nav-item a{
  position: relative;
  color: var(--light);
}

.nav-item a.active{
  font-weight: bold;
  color: var(--gray-dark);
}

/* .nav-item a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--light);
  position: absolute;
  left: 0;
  bottom: -4px;
  margin-left: 32px;
}

.nav-item a:hover::after {
  width: 100%;
  transition: width;
} */
p{
   all: unset; 
}
.card{
    /* all: unset; */
    background-color: var(--primary);
    border: none;
    margin-top: 50px;
    animation-name: up;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    color: var(--light)
}

@keyframes up {
  from {
    opacity: 0; 
    transform: translateX(19px);
  }
  to{
    opacity: 1;
  }
}

.card-img{
  border: none;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.6); 
}

.item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.item:last-child{
  border: none;
}

h5{
  color: var(--gray-dark);
  font-size: 11px;
  font-weight: 600;
}
h4{
  font-size: 18px;
  color: #333;
  font-weight: bold;
  padding-bottom: 10px;
}

p, span{
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.item span{
  background-color: var(--light);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--secondary);

  font-size: 12px;
}

.teste{
  color: red;
}

.form-control{
  border: none;
  font-size: 12px;
}

.form-control-sm{
  border-radius: none;
  border: none;
}

.card-create{
  /* all: unset; */
  background-color: var(--primary);
  border: none;
  margin-top: 50px;
  animation-name: up;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  color: var(--light)
}

.item-create{
  padding: 16px;
}

input{
  font-size: 10px;
}