{% extends "layout.njk" %}

{% block content %}'
  <div class="card mx-auto" style="max-width: 840px">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="https://source.unsplash.com/collection/373039/400x400" class="card-img" alt="...">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">Instructors</h5>

       
      </div>
    </div>
</div>
  </div>
{% endblock content %}